body {
  background-color:#ff0;
  font-family: 'Jockey One';
  font-size: 1rem;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
  }

/* Restaurant name */
header {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: absolute; 
    z-index: 2;
    margin-left: -10px;
    margin-right: -10px;
}

  .restaurant {
    align-content: center;
    font-size: 3em;
    font-weight: normal;
    position:fixed;
    margin-top: -20px;
    margin-right: 40px;
    padding-right: 50px;
    min-width: 100vw;
    height: 100px;
    background-color:black;
  }


/*Burger meny */
  .burger_menu {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 50px;
    top: 20px;
    z-index: 2;
    pointer-events: none;
  }

  .line {
    display: block; 
    width: 30px;
    height: 5px;
    background-color:#ff0;
    border-radius: 6px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
  }

  .menu_checkbox {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
  }

  .menu_checkbox:checked + .menu .burger_menu span {
    position: absolute;
    transition: all 0,3s ease-in-out;
  }

  .menu_checkbox:hover + .menu .burger_menu span:nth-child(2) {
    transform: translateX(-5px);
  }

  .menu_checkbox:hover + .menu .burger_menu span:nth-child(1) {
    transform: translateX(-5px);
  }

  .menu_checkbox:hover + .menu .burger_menu span:nth-child(3) {    
    transform: translateX(-5px);
  }

  .menu_checkbox:checked + .menu .burger_menu span:nth-child(2) {
    opacity: 0;
  }

  .menu_checkbox:checked + .menu .burger_menu span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu_checkbox:checked + .menu .burger_menu span:nth-child(3) {    
    transform: rotate(-45deg);
  }

  nav {
    background-color:#ac76ff;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .menu_checkbox:checked + .menu nav {
    visibility: visible;
    opacity: 1;
  }

  ul {
    font-size: 2.5rem;
    font-weight: normal; 
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    height: 100%;
    justify-content: center;
    text-align: center;     
  }

    li {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    
/* Top section (Page 1 section 1) */
.page1 {
    background-color: black;
    margin-top: -30px;
  }

  .top_page1 {
    position: relative;
  }

  .heading_1 {
    text-transform: uppercase;
    color: #ac76ff;
    font-size: 2rem;
    font-weight: normal; 
    margin-bottom: 3px;
    margin-left: 50%;
    padding-top: 90px;
  }
  
  .heading_2 {
    text-transform: uppercase;
    color: #00ff39;
    font-size: 5rem;
    font-weight: normal;
    margin-top: -25px;
    margin-bottom: -30px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .heading_3 {
    text-transform: uppercase;
    color: #fff136;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0px;
    margin-right: 45px;
    position: relative;
    z-index: 0;
    text-align: center;
  }
  
  .text_top {
    color: #00ff39;
    font-weight: normal;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  
/* Top section (Page 1 section 2) */
  .bottom {
    padding: 0;
    margin: 0;
  }

  .lettuce {
    max-width: 100%;
    max-height: auto; 
    margin: 0;
  }

  .white_arrow {
    height: 40px;
    position: relative;
    transform: rotate(90deg);
    margin-top: -100px;
    margin-bottom: 50px;
    padding-left: 30px;
    transition: transform 0.3s ease-in-out;
  }

  .lettuce:hover + .white_arrow {
    transform: translateY(5px) rotate(90deg);
  }

  .lettuce_text{
    background-color: white;
    padding-top: 10px;
  }
  
  .text_bottom {
    color: #ac76ff;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .explore_more {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
  }

  .black_arrow {
    width: 20px;
  }
  

/* Menu Page 2 (Section 1)*/
  .top_page2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .food_1 {
    grid-column: 1;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .food_2 {
    grid-column: 2;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .food_3 {
    grid-column: 3;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* Menu Page 2 (Section 2) */
  article {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    line-height: 0px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .menu_heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .menu_decription {
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    align-items: center;
  }

  .menu_price {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: normal;
  }

  .menu_icon_1_1 {
    transform: rotate(-3deg);
    display: inline-block;
    padding-left: 20px;
    margin-top: 10px;
  }

  .menu_icon_1 {
    background-color: #ac76ff;
    text-transform: uppercase;
    font-family: 'Courier Prime';
    font-size: 1rem;
    transform: rotate(3deg);
    display: inline-block;
    width: 80px;
    height: 20px;   
  }

  .menu_icon_2_1 {
    transform: rotate(3deg);
    display: inline-block;
    padding-left: 10px;
    margin-top: 10px;
  }
  
  .menu_icon_2 {
    background-color: #00ff39;
    text-transform: uppercase;
    font-family: 'Courier Prime';
    font-size: 1rem;
    transform: rotate(-3deg);
    display: inline-block;
    width: 80px;
    height: 20px;
  }
  
  .menu_icon_3_1 {
    transform: rotate(0deg);
    display: inline-block;
    padding-left: 10px;
    margin-top: 10px;
  }

  .menu_icon_3 {
    background-color: #fff136;
    text-transform: uppercase;
    font-family: 'Courier Prime';
    font-size: 1rem;
    transform: rotate(0deg);
    display: inline-block;
    width: 100px;
    height: 20px;
  }
  
  /* Book a table (Page 3 section 1)*/
  form {
    background-color: #00ff39;
    border-left: 10px solid white;
    padding-top: 40px;
    padding-left: 20px; 
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .book_your_table {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal; 
  }
  
  label {
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block; 
    width: 120px;
  }
  
  input {
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 23px;
    width: 60%;
    display: inline-block;
  }

  .cancle_request {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    font-size: 1.5rem;
    
  }

  .cancle_button {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #ac76ff;
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
  }
  
  .request_button {
    text-transform: uppercase;
    font-size: 1,5em;
    background-color: #fff136;
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
  }
  

/* Book a table (Page 3 section 2)*/
  .book_a_table {
    background-color: #00ff39;
    position: relative;
    width: 100%;
    height: 300px;
  }

  .background {
    background-image: url("../assets/photos/restaurant_table.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -10px;
    -webkit-filter: blur(2px);
    
  }

  .box {
    color: #28bcec;
    font-size: 1rem;
    font-weight: normal;
    text-shadow: -2px -2px rgb(0, 0, 0);
    align-content: center;
    padding-left: 20%;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    
  }

  span.material-symbols-outlined {
    font-size: 2em;
    margin-right: 40px;
  }

  .text {
    display: flex;
    align-items: center;
  }


/* Footer */
  .book_table_footer {
    background-color: #ac76ff;
    color: white;
    display: flex;
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    height: auto;
  }

  .cookies {
    font-family: 'Roboto Condensed'; 
    font-size: 1rem;
    margin-left: 20px;
    width: 100vw;
    text-align: center;
    align-items: top;
    
  }

  .decline_accept_button {
    display: flex; 
    display: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
    margin-bottom: 10px;
  }

  .decline_button {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color:#fff136;
    border-style: none;
    border-radius: 10px;
    width: 30%;
    height: 30px;
  }
  
  .accept_button {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #00ff39;
    border-style: none;
    border-radius: 10px;
    width: 30%;
    height: 30px;
  }
