body {
  background-color:#ff0;
  font-family: 'Jockey One';font-size: 22px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  }

/* The menu to the left */
header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    text-transform: uppercase;
    color: white;
    font-weight: normal; 
    }
  
  .burger_menu {
    
  }

  .menu_heading {


  }

/* Top section (Page 1 section 1) */
.page1 {
    background-color: black;
    margin-top: -30px;
    }

  .heading_1 {
    text-transform: uppercase;
    color: #ac76ff;
    margin-bottom: 3px;
    margin-left: 50%;
    position:static;
    font-weight: normal; 
    font-size: 2rem;
  }
  
  .heading_2 {
    text-transform: uppercase;
    color: #00ff39;
    font-size: 5rem;
    margin-top: -25px;
    margin-bottom: -30px;
    text-align: center;
    font-weight: normal;
    position:sticky;
    z-index: 2;
  }
  
  .heading_3 {
    text-transform: uppercase;
    color: #fff136;
    margin-top: 0px;
    margin-right: 43%;
    text-align: right;
    position: relative;
    font-weight: normal;
    font-size: 2rem;
    z-index: 1;
    
  }
  
  .text_top {
    color: #00ff39;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
  }

  
  /* Top section (Page 1 section 2) */
  .bottom {
    background-color: white;
  }

  .lettuce {
    max-width: 100%;
    height: auto;
  }

  .text_bottom {
    color: #ac76ff;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .explore_more {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .section_1 {
    background-color: white;
  }
  
  /* Menu */
  /* Page 2 (Section 1) */
  .top_page2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .food {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
   
  }

  /* Page 2 (Section 2) */
  article {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 0px;
    padding-left: 10px; 
    
  }
  
  .menu_heading {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .menu_decription {
    font-family: 'Roboto Condensed';font-size: 22px;
    font-size: 1rem;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .menu_icon_1 {
    text-transform: uppercase;
    font-family: 'Courier Prime';font-size: 22px;
    font-size: 1rem;
    background-color: #ac76ff;
    
  }
  
  .menu_icon_2 {
    text-transform: uppercase;
    font-family: 'Courier Prime';font-size: 22px;
    font-size: 1rem;
    background-color: #00ff39;
  }
  
  .menu_icon_3 {
    text-transform: uppercase;
    font-family: 'Courier Prime';font-size: 22px;
    font-size: 1rem;
    background-color: #fff136;
  }
  
  /* Form for booking a table */
  form {
    background-color: #00ff39;
    border-left: 10px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px; 
    margin-top: 10px;
  }

  .book_your_table {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 10px;
  }
  
  lable {
    text-transform: uppercase;
    font-size: 1,5em;
  }
  
  input {
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
  }

  .cancle_button {
    text-transform: uppercase;
    font-size: 1,5em;
    background-color: #ac76ff;
    border-style: none;
    font-family: 'Jockey One';
    border-radius: 10px;
    width: 100px;
    height: 30px;
  }
  
  .request_button {
    text-transform: uppercase;
    font-size: 1,5em;
    background-color: #fff136;
    border-style: none;
    font-family: 'Jockey One';
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: row;
    justify-items: center;
  }
  
  /* Contact information */
  

  .book_table {
    background-image: url("../assets/photos/restaurant_table.jpg");
    width: auto;
    height: auto;
    background-size: cover;
    color: #3da7d5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center; 
  }
  
  .bg-image {
    
  }



  span.material-symbols-outlined {
    font-size: 2em;
    margin-right: 20px;
  }

  .icon_text {
    display: flex;
    align-items: center;
  }

  .book_table_footer {
    background-color: #ac76ff;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

  }
  
  .cookies {
    font-family: 'Roboto Condensed';font-size: 22px;
    font-size: 1rem;
    margin-left: 10px;

  }
  
  .decline_button {
    text-transform: uppercase;
    font-size: 1rem;;
    background-color:#fff136;
    border-style: none;
    font-family: 'Jockey One';
    border-radius: 10px;
    width: 100px;
    height: 30px;
  }
  
  .accept_button {
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #00ff39;
    border-style: none;
    font-family: 'Jockey One';
    border-radius: 10px;
    width: 100px;
    height: 30px;
  }
  
  /* Links for more information on the bottom */
  footer {
    background-color: #ac76ff;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  
  footer a {
        text-decoration: none;
        color: white;
        margin: 10px
  }