body {
  background-color:#ff0;
  font-family: 'Jockey One';
  font-size: 1rem;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
  margin-right: 2px;
}
  

/* Restaurant name */
header {
  background-color:black;
  text-transform: uppercase;
  color: white;
  text-align: center;
  position: fixed; 
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  
}

  .restaurant {
    align-items: center;
    font-size: 3em;
    min-width: 100%;
    font-weight: normal;
    position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80vw;
  }


/*Burger meny */
  .burger-menu {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 5%;
    top: 20px;
    z-index: 2;
    pointer-events: none;
  }

  .menu-checkbox {
    position: fixed;
    top: 20px;
    right: 5%;
    z-index: 1;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
  }

  .line {
    display: block; 
    width: 30px;
    height: 5px;
    background-color:#ff0;
    border-radius: 6px;
    margin-bottom: 4px;
    transition: all 0.3s ease-in-out;
  }

  .menu-checkbox:checked + .menu .burger-menu span {
    position: absolute;
    transition: all 0,3s ease-in-out;
  }

  .menu-checkbox:hover + .menu .burger-menu span:nth-child(2) {
    transform: translateX(-5px);
  }

  .menu-checkbox:hover + .menu .burger-menu span:nth-child(1) {
    transform: translateX(-5px);
  }

  .menu-checkbox:hover + .menu .burger-menu span:nth-child(3) {    
    transform: translateX(-5px);
  }

  .menu-checkbox:checked + .menu .burger-menu span:nth-child(2) {
    opacity: 0;
  }

  .menu-checkbox:checked + .menu .burger-menu span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu-checkbox:checked + .menu .burger-menu span:nth-child(3) {    
    transform: rotate(-45deg);
  }

  nav {
    background-color:#ac76ff;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .menu-checkbox:checked + .menu nav {
    visibility: visible;
    opacity: 1;
  }

  ul {
    font-size: 2.5rem;
    font-weight: normal; 
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    height: 100%;
    justify-content: center;
    text-align: center;     
  }

    li {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    
/* Top section (Page 1 section 1) */
.top-page1 {
  position: relative;
  background-color: black;
  margin-top: -30px;
}

  .heading-1 {
    text-transform: uppercase;
    color: #ac76ff;
    font-size: 2rem;
    font-weight: normal; 
    padding-top: 90px;
    margin-bottom: 3px;
    margin-right: 0px;
    margin-left: 100px;
    text-align: center;
    position: relative;
    z-index: 0;
  }
  
  .heading-2 {
    text-transform: uppercase;
    color: #00ff39;
    font-size: 5rem;
    font-weight: normal;
    margin-top: -25px;
    margin-bottom: -30px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .heading-3 {
    text-transform: uppercase;
    color: #fff136;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 0px;
    margin-right: 45px;
    text-align: center;
    position: relative;
    z-index: 0;
  }
  
  .text-top {
    color: #00ff39;
    font-weight: normal;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  
/* Top section (Page 1 section 2) */
.bottom {
  padding: 0;
  margin: 0;
}

  .lettuce {
    width: 100%;
    height: auto; 
    margin: 0;
    left: 0;
    object-fit: cover;
    margin-bottom: -10px;
  }

  .white-arrow {
    height: 40px;
    position: relative;
    transform: rotate(90deg);
    margin-top: -100px;
    margin-bottom: 40px;
    padding-left: 20px;
    transition: transform 0.3s ease-in-out;
    align-items: start;
  }

  .lettuce:hover + .white-arrow {
    transform: translateY(5px) rotate(90deg);
  }

  .lettuce-text{
    background-color: white;
    padding-top: 10px;
    margin-top: -20px;
  }
  
  .text-bottom {
    color: #ac76ff;
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .explore-more {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
  }

  .black-arrow {
    width: 20px;
  }
  

/* Menu Page 2 (Section 1)*/
.top-page2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

  .food-1 {
    grid-column: 1;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .food-2 {
    grid-column: 2;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .food-3 {
    grid-column: 3;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* Menu Page 2 (Section 2) */
article {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
  .menu-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .menu-decription {
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .menu-price {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .menu-icon-1-1 {
    transform: rotate(-3deg);
    display: inline-block;
    padding-left: 20px;
    margin-top: -10px;
  }

  .menu-icon-1 {
    background-color: #ac76ff;
    text-transform: uppercase;
    font-family: 'Courier Prime';
    font-size: 1rem;
    transform: rotate(3deg);
    display: inline-block;
    width: 80px;
    height: 20px;   
  }

  .menu-icon-2-1 {
    transform: rotate(3deg);
    display: inline-block;
    padding-left: 10px;
    margin-top: -10px;
  }
  
  .menu-icon-2 {
    background-color: #00ff39;
    text-transform: uppercase;
    font-family: 'Courier Prime';
    font-size: 1rem;
    transform: rotate(-3deg);
    display: inline-block;
    width: 80px;
    height: 20px;
  }
  
  .menu-icon-3-1 {
    transform: rotate(0deg);
    display: inline-block;
    padding-left: 10px;
    margin-top: -10px;
    
  }

  .menu-icon-3 {
    background-color: #fff136;
    text-transform: uppercase;
    font-family: 'Courier Prime';
    font-size: 1rem;
    transform: rotate(0deg);
    display: inline-block;
    width: 100px;
    height: 20px;
  }
  
  /* Book a table (Page 3 section 1)*/
form {
  background-color: #00ff39;
  border-left: 10px solid white;
  padding-top: 40px;
  padding-left: 20px; 
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

  .book-your-table {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal; 
  }
  
  label {
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block; 
    width: 120px;
  }
  
  input {
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 23px;
    width: 60%;
    display: inline-block;
  }

  .cancle-request {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .cancle-button {
    text-transform: uppercase;
    background-color: #ac76ff;
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
  }
  
  .request-button {
    text-transform: uppercase;
    background-color: #fff136;
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
  }
  

/* Book a table (Page 3 section 2)*/
.book-a-table {
  background-color: #00ff39;
  position: relative;
  width: 100%;
  height: 80vw;
}

  .background {
    background-image: url("../assets/photos/restaurant_table.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -10px;
    -webkit-filter: blur(2px);
  }

  .box {
    color: #28bcec;
    font-size: 1rem;
    font-weight: normal;
    text-shadow: -2px -2px rgb(0, 0, 0);
    align-content: center;
    padding-left: 15%;
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 100%;
  }

  span.material-symbols-outlined {
    font-size: 2em;
    margin-right: 40px;
  }

  .text {
    display: flex;
    align-items: center;
  }


/* Footer */
.book-table-footer {
  background-color: #ac76ff;
  color: white;
  display: block;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  height: auto;
}

  .cookies {
    font-family: 'Roboto Condensed'; 
    font-size: 1rem;
    width: 100%;
    text-align: center;  
    margin-top: 10px;  
  }

  .decline-accept-button {
    display: flex;
    width: 100%;
    margin-bottom: 10px;  
    text-align: center; 
    justify-content: space-around;
  }

  .decline-button {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color:#fff136;
    border-style: none;
    border-radius: 10px;
    width: 30%;
    height: 35px;
  }
  
  .accept-button {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #00ff39;
    border-style: none;
    border-radius: 10px;
    width: 30%;
    height: 35px;
  }